.card-list-container {
  position: relative;
  display: flex;
  max-width: 1500px;
  flex-direction: row ;
  flex-flow: unset wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  margin: auto;
  align-content: flex-start;
  padding: 30px;
  text-align: left;
}

button.hidden {
  display: none;
}