.card-container {
  border-top: 1px solid #EDEDED;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  justify-content: flex-start;
  grid-column-gap: 7px; 
}
.card-container:first-child {
  border: none;
}
.card-info-container div {
  margin: 5px 0;
}

.person-img {
  display: block;
  width: 100%;
}
.name {
  font-size: 20px;
}
.det-preview {
  font-size: 13px;
  color: #BABABA;
  text-transform: capitalize;
}
.det-full {
  display: none;
}
.visible {
  display: block;
}