.card-container {
  border-top: 1px solid #EDEDED;
  padding: 20px 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  border-radius: 5px;
  grid-template-rows: auto auto;
  
  justify-content: flex-start;
  grid-column-gap: 7px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.18);
  flex: 1 1 250px;
  
}
.card-container:first-child {
  border: none;
}
.card-info-container div {
  margin: 5px 0;
}

.person-img {
  display: block;
  width: 100%;
}
.name {
  font-size: 20px;
}
.det-preview {
  font-size: 13px;
  color: #BABABA;
  text-transform: capitalize;
}
.det-full {
  grid-row: 2;
  grid-column: 2;
  display: none;
  word-break: break-all;
}
.visible {
  display: block;
}