.App {
  text-align: center;
  color: #333;
  padding-bottom: 30px;
}
.App-container {
  background: #333;
  border-radius: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
