@import url('https://fonts.googleapis.com/css?family=Comfortaa|Contrail+One|Open+Sans|Quicksand|Roboto+Mono|Varela+Round');

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Contrail One', cursive; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Varela Round', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Open Sans', sans-serif;
  /* background-image: url('./images/bg-photo.jpg') */
}
header {
  height: 70px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.18);
}
#logo {
  max-width: 300px;
  display: block;
  position: relative;
  z-index: -1;
  margin: auto;

}